[submodule "art-pipeline-for-anchor-scaffolds"]
	path = art-pipeline-for-anchor-scaffolds
	url = git@forgemia.inra.fr:xilong.chen/art-pipeline-for-anchor-scaffolds.git
[submodule "run_smcpp"]
	path = run_smcpp
	url = git@forgemia.inra.fr:yuqi/run_smcpp.git
[submodule "run_ABBA_BABA/bin/Dsuit"]
	path = run_ABBA_BABA/bin/Dsuit
	url = https://github.com/millanek/Dsuite.git
[submodule "run_ABBA_BABA/bin/genomics_general"]
	path = run_ABBA_BABA/bin/genomics_general
	url = https://github.com/simonhmartin/genomics_general
[submodule "run_ABBA_BABA/bin/tutorials"]
	path = run_ABBA_BABA/bin/tutorials
	url = https://github.com/millanek/tutorials.git
[submodule "run_MSMC2/bin/MappabilityMask/msmc2_scripts"]
	path = run_MSMC2/bin/MappabilityMask/msmc2_scripts
	url = https://github.com/jessicarick/msmc2_scripts.git
